* {
  padding: 0;
  margin: 0;
}
body {
  width: 100%;
  height: auto;
  overflow-x: hidden;
}

.safety-charter {
  width: 20px;
  height: 20px;
}
.first-header {
  background-color: #a08f7f;
}
.second-header {
  background-color: #524c50;
}
.logo {
  width: 20%;
  height: auto;
}
.nav-link,
.navbar-brand {
  color: white !important;
  font-size: 20px;
  display: flex;
}
.collapse {
  flex-grow: 0 !important;
}

.left-arrow {
  width: 20%;
}

.Lounge {
  display: flex;
  justify-content: center;
  align-items: center;
}
.Lounge-bar {
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
}
.cup {
  width: 50%;
  height: auto;
}
.info-text {
  background-color: #524c50;
  color: white;
  width: 50vw !important;
  height: 30vw;
  font-size: 1.6vw;
  z-index: 1;
  box-shadow: 0 90px 0 rgba(0, 0, 0, 0.479);

  /* transform: translate(50%, 50%); */
  padding-left: 5vw !important;
  padding-right: 5vw !important;
  border-radius: 5px;
  margin-top: 100px;
  /* margin-bottom: 100px; */
}
.info-text-two {
  background-color: #a08f7f;
  color: white;
  width: 60vw !important;
  height: 40vw;
  text-align: left;
  font-size: 1.5vw;
  box-shadow: 0px -70px 0px #a08f7f93;
  padding-left: 5vw !important;
  padding-right: 5vw !important;
  border-radius: 5px;
  margin-bottom: 10vw;
}
.third {
  position: relative;
  font-family: Arial;
}

.text-block {
  position: absolute;
  bottom: 0.1vw;
  right: 0.1vw;
  font-size: 1.5vw;
  width: 40vw;
  height: 50vw;
  background-color: rgba(0, 0, 0, 0.486);
  color: white;
  padding-left: 5vw;
  padding-right: 5vw;
  padding-top: 5vw;
  padding-bottom: 5vw;
}
.first-picture {
  width: 100%;
  z-index: -1;
  position: relative;
  border-bottom: 5px solid #524c50;
  margin-bottom: 100px;
}
.second-picture {
  position: relative;
  width: 100%;
  z-index: -2;
  border-top: 10px solid #a08f7f;
}
.up-arrow {
  width: 2vw;
  margin-bottom: 1.9vw;
}
.third {
  position: absolute;
}
